* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0a0a0a;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #222;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: grey;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h2 {
    font-size: 4rem;
}

/* PRODUCTS */
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    width: 250px;
    background: #111;
    border-radius: 10px;
    transition: 0.3s;
}

.card a {
    text-decoration: none;
    color: white;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

/* PRODUCT */
.product, .cart, .about {
    text-align: center;
    padding: 50px;
}

/* BUTTON */
button {
    margin-top: 15px;
    padding: 12px 20px;
    background: white;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #222;
}
``
